[submodule "mods/irc"]
	path = mods/irc
	url = ../../minetest-mods/irc.git
[submodule "mods/MoreMesecons"]
	path = mods/MoreMesecons
	url = ../../minetest-mods/MoreMesecons.git
[submodule "mods/xp"]
	path = mods/xp
	url = https://github.com/ThomasMonroe314/xp.git
